* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: black;
    padding: 0 20px;
}

.logo a {
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.login a {
    font-size: 18px;
    color: white;
    text-decoration: none;
}

.block {
    border: 1px solid black;
    padding: 60px;
    height: 300px;
    width: 90%;
    margin: 80px;
}

h2 {
    margin-top: 0;
    margin-bottom: 20px;
}

p {
    margin-bottom: 0;
}

#banner3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}

#banner3 .banner-box {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    background-color: black;
    width: 20%;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 45px;
    margin-bottom: 20px;
}

#banner3 h2 {
    color: #fff;
    font-weight: 900;
    font-size: 35px;
}

#banner3 h4 {
    color: #fff;
    font-weight: 800;
    font-size: 25px;
}

.foot {
    height: 200px;
    width: 100%;
    background-color: black;
    margin-top: 100px;
}